<!DOCTYPE html>
<html>
    <head>
<title> bike </title>
    </head>
    <body>
        <h1> Motorcycle </h1>
        <hr>
        <p> Article &nbsp; <a href="https://en.wikipedia.org/wiki/Talk:Motorcycle"> Talk</a>        &nbsp; Read &nbsp; <a href="https://en.wikipedia.org/wiki/Main_Page">Edit</a>  &nbsp; view history &nbsp; Tools  </p>
        <hr>
        <p> From Wikipedia, the free encyclopedia</p>
        <a href="https://urbancycling.com/cdn/shop/articles/the-resurgence-of-90s-bikes-why-vintage-cycling-is-back-in-style-523883_1000x.jpg?v=1718028590" > wine page </a>
        <p>
            For other uses, see <a href="https://en.wikipedia.org/wiki/Motorcycle_(disambiguation)">Motorcycle (disambiguation) </a>. Not to be confused with <a href="https://en.wikipedia.org/wiki/Motocycle">Motocycle</a>
         </p>
         <img src="bike2.jpg">
         <p>A <b>motorcycle</b> (<b>motorbike, bike,</b> or, if three-wheeled, a <b>trike</b>) is a two or three-wheeled motor vehicle steered by a <a href="https://en.wikipedia.org/wiki/Motorcycle_handlebar">handlebar</a> from a saddle-style seat.[1][2][3] </p>
         <p>Motorcycle design varies greatly to suit a range of different purposes: long-distance travel, commuting, cruising, sport (including racing), and off-road riding. Motorcycling is riding a motorcycle and being involved in other related social activities such as joining a motorcycle club and attending motorcycle rallies.</p>
         <p>The 1885 Daimler Reitwagen made by Gottlieb Daimler and Wilhelm Maybach in Germany was the first internal combustion, petroleum-fueled motorcycle. In 1894, Hildebrand & Wolfmüller became the first series production motorcycle.[4][5]</p>
         <p>Globally, motorcycles are comparably popular to cars as a method of transport. In 2021, approximately 58.6 million new motorcycles were sold around the world,[6] fewer than the 66.7 million cars sold over the same period.[7]</p>
         <p>In 2022, the top four motorcycle producers by volume and type were Honda, Yamaha, Kawasaki, and Suzuki.[8] In developing countries, motorcycles are considered utilitarian due to lower prices and greater fuel economy. Of all the motorcycles in the world, 58% are in the Asia-Pacific and Southern and Eastern Asia regions, excluding car-centric Japan.[citation needed]</p>
         <p>According to the US Department of Transportation, the number of fatalities per vehicle mile traveled was 37 times higher for motorcycles than for cars.[9]</p>
         <br> </br>
         <p> <strong><b>TYPES</b></strong> &nbsp; <a href="https://en.wikipedia.org/w/index.php?title=Motorcycle&action=edit&section=1">[edit]</a> </p>
         <hr>
         <p>Main article: <a href="https://en.wikipedia.org/wiki/Types_of_motorcycles">types of motorcycles </a></p>
         <p>The term motorcycle has different legal definitions depending on jurisdiction (see § Legal definitions and restrictions).</p>
         <p>There are three major types of motorcycle: street, off-road, and dual purpose. Within these types, there are many sub-types of motorcycles for different purposes. There is often a racing counterpart to each type, such as road racing and street bikes, or motocross including dirt bikes.</p>
         <p>Street bikes include cruisers, sportbikes, scooters and mopeds, and many other types. Off-road motorcycles include many types designed for dirt-oriented racing classes such as motocross and are not street legal in most areas. Dual purpose machines like the dual-sport style are made to go off-road but include features to make them legal and comfortable on the street as well.</p>
         <img  src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0gBCdtvne8p3Vor7EykBCictcq1ePz7EX4DX0miaDoWNMcHuwx8kGMXP7IGnCM8z9y_o&usqp=CAU alt="bike" width="250" height="133">
        

    </body>
</html>